.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: #454881;
  color: #fff;
}

article {
  color: #454881;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}

body {
  padding: 2em;
  background-image: url('../images/background.png');
}

.button {
  background-color: #252746;
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.top {
  float: inline-end;
}

.button:hover {
  background-color: #444;
}

.paper {
  background: rgb(236, 223, 202);
  padding: 30px;
  position: relative;
}

.paper,
.paper::before,
.paper::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #bbb;
}

.paper::before,
.paper::after {
  content: '';
  position: absolute;
  height: 95%;
  width: 99%;
  background: rgb(227, 215, 195);
}

.paper::before {
  right: 15px;
  top: 0;
  transform: rotate(-1deg);
  z-index: -1;
}

.paper::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}

.library {
  background-color: bisque;
  height: 200px;
  width: 400px;
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bot {
  position: absolute;
  bottom: 0;
  left: 150px;
  transform: rotate(-5deg);
  animation: moveBot 1s infinite ease-in-out;
}

.head {
  background-color: #555;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  transform: translateY(-20px);
}

.body {
  width: 40px;
  height: 80px;
  background-color: #555;
  margin: 0 auto;
  transform: translateY(-20px);
}

.book {
  width: 20px;
  height: 30px;
  background-color: #d23f31;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  left: 10px;
  animation: moveBook 2s infinite alternate ease-in-out;
}

.book:nth-child(2) {
  top: 20px;
  left: 30px;
  animation-delay: 0.5s;
}

.book:nth-child(3) {
  top: 25px;
  left: 50px;
  animation-delay: 1s;
}

@keyframes moveBot {
  0% {
    transform: rotate(-5deg) translateX(0);
  }
  50% {
    transform: rotate(5deg) translateX(10px);
  }
  100% {
    transform: rotate(-5deg) translateX(0);
  }
}

@keyframes moveBook {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
